#footer
{
 margin: 0 auto 20px auto;

 width: 900px;
 border:2px solid #000000;
 border-radius: 8px;  	
}
#bando
{
	width: 900px;
	margin: 0 auto;
	border-radius: 8px;
}

#atbtop {
	position: absolute;
	top:5px;
	right:5px;
}



body
{

 border-radius: 8px;
 font: 14px Ravie, sans-serif; 
 background: #000 url("../images/texture3.jpg") no-repeat top center ; 
 background-attachment:fixed;
 width: 100%;
 margin: 0;
 padding: 0;


}

#entete
{
margin: 20 auto;
}



/***************************menu************************************/ 
       
#menuDeroulant
{
	 border:2px solid #000000;
 border-radius: 8px;
 width: 644px;
 list-style-type: none;
 margin: 0 auto;
 padding: 0;
 border: 0;

}
#menuDeroulant li
{
	 border:2px solid #000000;
 border-radius: 8px;
 float: left;
 margin: 0 auto;
 padding: 0;
 border: 0;
 background-image: url("../images/texture33.jpg");
}

#menuDeroulant .sousMenu
{
	 border:2px solid #000000;
 border-radius: 8px;
 list-style-type: none;
 margin: 0 auto;
 padding: 0;
 border: 0;
}
#menuDeroulant .sousMenu li
{
	 border:2px solid #000000;
 border-radius: 8px;
 float: none;
 margin: 0 auto;
 padding: 0;
 border: 0;
}

#menuDeroulant li
{
	 border:2px solid #000000;
 border-radius: 8px;
 float: left;
 width: 150px;
 margin: 0 auto;
 padding: 0;
 border: 0;
}

#menuDeroulant li a:link, #menuDeroulant li a:visited
{
	 border:2px solid #000000;
 border-radius: 8px;
 display: block;
 height: 2%;
 color: #fff;
 background: url("");
 margin: 0 auto;
 padding: 4px 8px;
 border-right: 1px solid #fff;
 text-decoration: none;
}
#menuDeroulant li a:hover { background-image: url("../images/texture3.jpg"); border:2px solid #000000; }
#menuDeroulant li a:active { background-color: #831207; border:2px solid #000000; }

#menuDeroulant .sousMenu li a:link,
#menuDeroulant .sousMenu li a:visited
{
	 border:2px solid #000000;
 border-radius: 8px;
 display: block;
 color: #fff;
 margin: 0 auto;
 border: 0;
 text-decoration: none;
 background: transparent url("") repeat;
}
#menuDeroulant .sousMenu li a:hover
{
	 border:2px solid #000000;
 border-radius: 8px;
 background-image: none;
 background-color: #831207;
}
      

#menuDeroulant .sousMenu li
{
	 border:2px solid #000000;
 border-radius: 8px;
 float: none;
 margin: 0 auto;
 padding: 0;
 border: 0;
 width: 149px;
 border-top: 1px solid transparent;
 border-right: 1px solid transparent;
}

#menuDeroulant .sousMenu
{
	 border:2px solid #000000;
 border-radius: 8px;
 display: none;
 list-style-type: none;
 margin: 0 auto;
 padding: 0;
 border: 0;
}
#menuDeroulant li:hover > .sousMenu { display: block; }

#menuDeroulant
{
	 border:2px solid #000000;
 border-radius: 8px;
 width: 644px;
 list-style-type: none;
 margin: 0 auto;
 padding: 0;
 border: 0;

}



          