

#moncadre {
 text-align:center;
 border:2px solid #000000;
 border-radius: 8px;  	
  	
  	
width:885px;
margin:70px auto;
padding:10px;
background-color:#fff;
border-left:1px solid #000000; 
border-right:1px solid #000000;
border-bottom:1px solid #000000;
border-top:1px solid #000000;
}












div#ok
{
text-align:center;

}

body
{
 font: 14px Bookman Old Style, Book Antiqua, Garamond; 
 background: #ffffff  url("") no-repeat top center ; 
 width: 100%;
 height: 100%;
 margin: 0;
 padding: 0;
}

img
{
margin:0 auto;	
}
 
 
 
div#messageerror
 {
 text-align:center;
 color:red;
 font-size: 13px;

}

div#ex

{
font-size: 9px;
margin-left: 200px;
	
	}
p 
{
    color:red;
}

fond
{
    color:red;
    size:"100pt";
}
.formulaire
{
margin:0 auto;
border-radius: 8px;
}


.condition
{
text-align:center;

}
div#test
{
	text-align:center;
}
fieldset 
{

 padding:2px;
 margin-bottom:1px;
 border-radius: 8px;
 }
 
legend
  {
 color:#600902;
 font-weight:bold
 }
 
 label
{
	display: block;
	width: 150px;
	float: left;
}

span
{
	display: block;
	float: left;
	width: 300px;
	
}

a
{
text-align:center;
}