#main {
	width: 900px;
	margin: 0 auto;
	padding: 70px 0;
}

#moncadre {
	text-align:center;
	border: 1px solid #000000;
	border-radius: 8px;
	width:640px;
	margin: 0 0 20px 0;
	padding: 0;
	background-color: #fff;
	float: right;
	margin: 0 0 20px 0;
}

#left {
	width : 250px;
	float: left;
}
#footer
{
	clear: both;
 	margin: 20px auto 20px auto;
 	width: 900px;
 	border: 2px solid #000000;
 	border-radius: 8px;  	
}