@CHARSET "UTF-8";
#menu {
	width: 100px;
}

#menu dl {
	padding: 0;
	width: 160px;
	margin: 0px;
	float: left;
	background-color: red;
}

#menu dt {
	position: relative;
	list-style: none;
	text-align: center;
	cursor: pointer;
}

#menu li a, #menu dt a {
	text-decoration: none;
	color: white;
}