  <style></style>

#moncadre {
width:800px;
margin:auto;
padding:10px;
background-color:#FFFF00;
border-left:1px solid #000000; 
border-right:1px solid #000000;
border-bottom:1px solid #000000;
border-top:1px solid #000000;
}
